<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.empreinteh2o"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.empreinteh2o.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.empreinteh2o.Quest_alimentation"
            android:label="@string/title_activity_quest_alimentation" >
        </activity>
        <activity
            android:name="com.empreinteh2o.Quest_textile"
            android:label="@string/title_activity_quest_textile" >
        </activity>
        <activity
            android:name="com.empreinteh2o.Quest_eau_domicile"
            android:label="@string/title_activity_quest_eau_domicile" >
        </activity>
        <activity
            android:name="com.empreinteh2o.Quest_equipement"
            android:label="@string/title_activity_quest_equipement" >
        </activity>
        <activity
            android:name="com.empreinteh2o.Graphe"
            android:label="@string/title_activity_graphe" >
        </activity>
        <activity
            android:name="com.empreinteh2o.Close_all_Activity"
            android:label="@string/title_activity_choix_questionnaire" >
        </activity>
        <activity
            android:name="com.empreinteh2o.Conseils2"
            android:label="@string/title_activity_conseils2" >
        </activity>
    </application>

</manifest>
